 {% extends "BackOfficeBundle::layout.html.twig" %}

{% block  style %}
    <!--Less-->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/BoMenu.less') }}" />
{% endblock %}


{% block fos_user_content %} 
 <p>Nombre d'utilisateurs inscrit {{ user|length }}</p>  
{% endblock fos_user_content %}
   

    

