{% extends "digital_pilotCmsBundle::layout.html.twig" %}

{% block style %}
    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/styles.less') }}" />
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-4">
                <div class="titreConnexion">
                    <h1>Connexion à l'application</h1>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                            <input type="text" class="form-control" id="email" placeholder="E-mail">
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-primary btn-lg"><a href="{{ path('digital_pilot_choiceApp') }}">Connexion</a></button>
            </div>
        </div>
    </div>

{% endblock %}



