<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="{{ asset('/template/css/bootstrap.css') }}">
    <!-- Font awesome -->
    <link rel="stylesheet" href="{{ asset('/template/font-awesome/css/font-awesome.min.css') }}">
    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/styles.less') }}" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-4">
                <div class="titreConnexion">
                    <h1>Connexion à l'application</h1>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                            <input type="text" class="form-control" id="email" placeholder="E-mail">
                        </div>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                            <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-primary btn-lg"><a href="choiceApp.html">Connexion</a></button>
            </div>
        </div>
    </div>
</body>

<script src="{{ asset('/template/less.js/dist/less.min.js') }}" type="text/javascript"></script>

</html>