{% extends "digital_pilotCmsBundle::layout.html.twig" %}

{% block style %}
    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="{{ asset('/template/css/choiceApp.less') }}" />
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="text-center">Choix de l'application</h1>


            <div class="col-xs-2 col-md-3">
                <a href="BoCommercant.html" class="thumbnail">
                   
                    <img src="{{ asset('/template/img/graph.png') }}" alt="Graph icon">
                    <h3>Back Office</h3>
                </a>
            </div>


            <div class="col-xs-2 col-md-3">
                <a href="gestionClient.html" class="thumbnail">
                    <img src="{{ asset('/template/img/user.png') }}" alt="Graph icon">
                    <h3>Gestion client</h3>
                </a>


            </div>
            <div class="col-xs-2 col-md-3">
                <a href="slideshow.html" class="thumbnail">
                    <img src="{{ asset('/template/img/play.png') }}" alt="Graph icon">
                    <h3>Slideshow</h3>
                </a>

            </div>
        </div>

{% endblock %}