{% extends '::baseBo.html.twig' %}

{% block style %}{% endblock %}

{% block body %}

        <div>
            {% block fos_user_content %} 
            {% endblock fos_user_content %}
        </div>

{% endblock %}